<?xml version="1.0" encoding="UTF-8"?>
<suite name="###  JIO_PAYMENTS_BANK_AUTOMATION : SIT  ###" parallel="classes" thread-count="2">


    <test name="Test">
        <classes>
            <class name="BNOCData"/>
            <class name="IncPriIncOITest"/>
        </classes>
    </test>

</suite>

